#domain_simplemeta-meta-form.domain_simplemeta-meta-form-ajax *{
  margin: 0;
  padding: 0;
}
#domain_simplemeta-meta-form.domain_simplemeta-meta-form-ajax {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #bbb;
  background: rgba(187,187,187,0.6);
  width: 255px;
  padding: 8px;
  margin: 0 0 100px 0;
  z-index: 100;
  text-align: right;
  box-shadow: 0 0 4px #333;
  -webkit-box-shadow: 0 0 4px #333;
  -moz-box-shadow: 0 0 4px #333;
}
#domain_simplemeta-meta-form.domain_simplemeta-meta-form-ajax .form-item {
  text-align: left;
}
#domain_simplemeta-meta-form.domain_simplemeta-meta-form-ajax input.form-text,
#domain_simplemeta-meta-form.domain_simplemeta-meta-form-ajax textarea.form-textarea {
  width: 250px;
}
#domain_simplemeta-meta-form.domain_simplemeta-meta-form-ajax textarea.form-textarea {
  height: 65px;
}
#domain_simplemeta-meta-form.domain_simplemeta-meta-form-ajax input.form-submit {
  width: 50px;
  height: 28px;
  border: 0;
  background: transparent url(img/buttons.png) no-repeat 0 -28px;
  text-indent: -1000px;
  overflow: hidden;
  cursor: pointer;
}
#domain_simplemeta-meta-form.domain_simplemeta-meta-form-ajax input.button-save {
  margin-right: 5px;
  width: 55px;
  background-position: -124px -28px;
}
#domain_simplemeta-meta-form.domain_simplemeta-meta-form-ajax input.button-delete {
  background-position: -53px -28px;
  width: 71px;
}
#domain_simplemeta-meta-form.domain_simplemeta-meta-form-ajax .form-close {
  display: block;
  margin: 0;
  padding: 5px;
  width: 50px;
  height: 40px;
  line-height: 20px;
  position: absolute;
  right: -60px;
  top: 5px;
  background: rgba(187,187,187,0.7);
  color: #fff;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
}
